.Factor
{
  padding-bottom: $gutter-mini*4;
  color: $blue-light;

  &[hasvalue=false],
  &[ischanging=true]
  {
    color: $white;
  }

  &-label
  {
    display: block;
    position: relative;
    padding-top: $gutter-mini*2;
  }

  &-prompt
  {
    @include font-sizes(24px, 32px);
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    transition: all $transition-fast;
  }

  &[hasvalue=true] &-prompt,
  &[ischanging=true] &-prompt,
  &-input:focus + &-prompt,
  &[hasvalue=false] &-label:hover &-prompt
  {
    @include font-sizes(16px, 24px);
    bottom: $gutter*2;
    padding-top: $gutter/2;
  }

  &-input
  {
    @include font-sizes(24px, 32px);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    appearance: none;
    text-align: center;
    background-color: transparent;
    outline: 0;
    border-bottom: $border-default $blue-light;
    transition: all $transition-fast;

    @include bplte(xs)
    {
      width: 80%;
    }

    &--select
    {
      @include Select;
    }

    &:focus
    {
      width: 75%;

      @include bplte(xs)
      {
        width: 100%;
      }
    }

    &::-webkit-inner-spin-button
    {
      appearance: none;
      margin: 0;
    }
  }
}
