.Main
{
  position: relative;
  color: $white;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  &-header
  {
    position: absolute;
    height: $gutter*3;
    top: $gutter;
    left: $gutter;
    color: $blue-light;
    display: flex;
    align-items: center;
  }

  &-logo
  {
    height: 100%;
  }

  &-title
  {
    padding-left: $gutter/2;
    padding-top: $gutter-mini;
  }

  &-container
  {
    display: flex;
    height: 100%;
  }

  &-left
  {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-right
  {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
