@mixin Link
{
  text-decoration: none;

  @include hoverActive
  {
    text-decoration: underline;
  }
}

.Link
{
  @include Link;
}

@mixin NoPointer
{
  // Use for innermost no pointer events wrapper
  pointer-events: none;

  & > *
  {
    pointer-events: all;
  }
}

.NoPointer
{
  @include NoPointer;
}

@mixin l-container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;

  @include bpgte(sm)
  {
    width: $container-tablet-base;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include bpgte(md)
  {
    width: $container-desktop-base;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include bpgte(lg)
  {
    width: $container-large-desktop-base;
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.l-container
{
  @include l-container;
}

@mixin Select
{
  .Select__control
  {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .Select__placeholder
  {
    display: none;
  }

  .Select__value-container
  {
    padding: 0;
    position: relative;
    top: 4px;
  }

  .Select__single-value
  {
    @include font-sizes(24px, 32px);
    color: inherit;
    margin: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    position: static;
    transform: none;

    & + div
    {
      position: absolute;
    }
  }

  .Select__indicators
  {
    display: none;
  }

  .Select__menu
  {
    background-color: $blue-dark;
    border-radius: 0;
    margin: 0;
    top: $gutter/4;
  }

  .Select__option
  {
    @include font-sizes(16px, 32px);
    text-align: center;
    background-color: $blue-dark;
    padding: $gutter/4 $gutter-mini;
    transition: background-color $transition-fast;

    &:hover
    {
      background-color: $blue-medium;
    }
  }
}

.Select
{
  @include Select;
}
